.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px;
}

.product-title {
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.product-price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 20px;
    font-weight: bold;
    width: 70px;
}

.total-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 25px;
    color: darkgreen;
}