.products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.productcards.productcards {
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 10px;
    box-shadow: 1px 5px 5px #123524;
    cursor: pointer;
}

.price {
    font-family: Arial;
    color: green;
}

.page-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

}